# ----------------------------------------
# NODE / JAVASCRIPT
# ----------------------------------------

node_modules/
.pnp/
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
build/

.DS_Store


# ----------------------------------------
# DOCKER
# ----------------------------------------

docker-volume/
*.tar


# ----------------------------------------
# TERRAFORM
# ----------------------------------------

# Cache interno (qualquer pasta)
**/.terraform/*

# State (sensível)
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Variáveis (podem conter segredos)
*.tfvars
*.auto.tfvars

# Crash / erro
crash.log
crash.*.log

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Config local
.terraformrc
terraform.rc

# Backups
*.bak


# ----------------------------------------
# VS CODE
# ----------------------------------------

.vscode/
