name: K8s - Validate Manifests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: List manifests
        run: ls -la k8s

      # 1) Validação de sintaxe YAML
      - name: Install yamllint
        run: |
          python -m pip install --upgrade pip
          pip install yamllint

      - name: YAML lint
        run: yamllint -d "{extends: default, rules: {line-length: disable}}" k8s

      # 2) Validação por schema Kubernetes (offline)
      - name: Install kubeconform
        run: |
          curl -L -o kubeconform.tar.gz https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform.tar.gz kubeconform
          sudo mv kubeconform /usr/local/bin/kubeconform
          kubeconform -v

      - name: Kubernetes schema validation (kubeconform)
        run: |
          kubeconform \
            -strict \
            -summary \
            -ignore-missing-schemas \
            -kubernetes-version 1.34.0 \
            k8s/*.yaml
